
<p style="font-size: 80px; text-decoration: text-underline below;">２０１７年夏休みの写真</p>
<l style="font-size:56px;"> 高</l> <l style="font-size: 32px;">知県柏島</l>

<%= image_tag '_MG_5011.jpg' %>
<a> Canon EOS Kiss X7 終点距離:18mm F値:13 露出:1/400 </a>
<p> 東京から約１０時間かかってたどり着く秘境、大築町柏島。</p>
<p> １０００種類以上の魚類が確認でき、ダイバー達が足繁く通う海ですが、観光地化されておらず、のどかで、昭和な雰囲気を残した街です。</p>
<p> 無料の海水浴場は穏やかな海の様子ですが、、、</p>

<%= image_tag '_MG_5012.jpg' %>
<a> Canon EOS Kiss X7 終点距離:50mm F値:18 露出:1/1000 </a>
<p> 九州で台風5号が直撃、海は大荒れでした。</p>

<%= image_tag '_MG_5055.jpg' %>
<a> Canon EOS Kiss X7 終点距離:135mm F値:9 露出:1/500 </a>
<p> 南の島といえばハイビスカス☆</p>

<%= image_tag '_MG_5060.jpg' %>
<a> Canon EOS Kiss X7 終点距離:135mm F値:8 露出:1/400 </a>
<p> 港の猫って職人気質な感じしませんか？</p>

<%= image_tag '_MG_5065.jpg' %>
<a> Canon EOS Kiss X7 終点距離:135mm F値:11 露出:1/800 </a>
<p>　なんとおさるさんがいます！家族なのか後ろのさるさんに子ざるがくっついています。</p>

<%= image_tag '2nd.jpg' %>
<a> Canon EOS Kiss X7 終点距離:50mm F値:20 露出:1/1250 </a>
<p> 夕暮れ時、すすきがいい味出してます。</p>


<%= image_tag '3rd.jpg' %>
<a> Canon EOS Kiss X7 終点距離:18mm F値:20 露出:1/1000</a>
<p> こちらはlightroomで思いっきり修正をかけました（笑）。</p>
<p> 綺麗でナチュラルに写真を仕上げるのは難しいですね、、、</p>

<l style="font-size:56px;"> 中</l> <l style="font-size: 32px;">国杭州</l>

<%= image_tag '4th.jpg' %>

<p> ８月１１〜１３日に嫁と杭州旅行に行ってきました。上海から新幹線で約１時間で行ける観光地として人気で、お寺やおしゃれなレストランが並ぶ西湖や、中国IT企業の雄、アリババの本社があるのも杭州です。</p>

<%= image_tag '_MG_5188.jpg' %>

<p>ホテル近くにあった竹林。京都っぽい？（笑）</p>

<%= image_tag '5th.jpg' %>

<p>これもホテル近くにあった森林公園にて。やっぱ京都っぽい？（笑）</p>

<%= image_tag '_MG_5420.jpg' %>

<p>実は上海では花火が全面的に禁止となりまして、販売もしてません。なので我々としては念願の花火なのでした〜</p>


<%= image_tag '_MG_5604.jpg' %>
<p>杭州名物、鳩の姿揚げ。顔は食べられないので皿に盛らなくてもいいのでは？（笑）</p>


<%= image_tag '6th.jpg' %>
<%= image_tag '7th.jpg' %>
<%= image_tag '8th.jpg' %>
<%= image_tag '9th.jpg' %>
<%= image_tag '10th.jpg' %>

<p>杭州名物ではないですが、かなりレベルの高いレストランでの食事、スタッフの対応も良く大満足でした☆</p>






<%= link_to 'トップ', 'top' %>
<%= link_to '趣味', 'page2' %>