<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
      <div class="header-logo"><%= link_to 'YUMA', 'top' %></div>
      <div class="header-list">
        <ul>
          <li><%= link_to '自己紹介', 'profile' %></li>
          <li><%= link_to '趣味', 'hobby' %></li>
          <li><%= link_to '仕事', 'job' %></li>
          <li><%= link_to '中国', 'china' %></li>
        </ul>
      </div>
</div>
<%= image_tag '1st.jpg' %>
<%= yield %>

</body>
</html>
